.navbarContainer{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}
.link{
    font-size: .9rem;
    color:black !important;
    font-family:Lato;
}
.rightlink{
    text-align: center;
    position: relative;
}
.searchbar{
    margin-left:50px;
}
.navParent{
    border-bottom: 1px solid #d5d5d580;
}
.customNav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
}
.widthFull{
    width:100%;
}


.open{
    position:fixed;
}
.close{
    position:relative;
}