

.rightPic{
    height:100%;
    width:100%;
    background: url("/images/Office.jpg") no-repeat;
    background-size:cover;
    /* position:fixed; */
}
.logo{
    position:absolute;
    left:36px;
    top:36px;
    display:block;
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px #2e2e2e;
    font-family: Playfair Display;
}
.logo a{
    color: inherit;
    text-decoration: inherit;
}
.title2 h1{
    font-size:3rem;
}
.rightPicImage{
    height:100%;
    width:100%;
    position:fixed;

}
.blogContainer{
    margin:0px;
    max-width:100%;
}
.category{
    font-size:1.2rem;
}
.category span{
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 3px solid #74604b;
    font-family: Roboto;
    font-weight: bolder;
    font-size: .9rem;
    letter-spacing: .3px;
}
.mainArticle2 h4{
    font-size: 1.2rem;
    font-family: Amiri;
}
.lastImage{
    width:100%;
    height: 500px;
}
.titleBlock{
position:relative;
display:inline-block;
height:600px;
width: 100%;
}

.image{
    /* background: url("/images/table.avif") no-repeat; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
   
}
.image::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #6868684d;
}
.title{
    position:absolute;
    bottom:1.5rem;
    margin: 0px 100px;
}

.imageDesc{
    font-size: .7rem;
    width: 100%;
  
    margin: 0px 100px;
    font-family: Roboto;
    margin-top: -1rem;
    font-weight: bolder;
    letter-spacing: .4px;
}
.blogNavbar{
    margin: 0px 100px; 
    
}
.mainArticle{
    margin: 0px 100px; 
    font-size:.82rem;
    line-height:1.3rem;
}
.leftSide{
    padding-right:0px;
}
.rightSide{
    padding-left:0px;
}
.mainArticle{
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
}
.mainArticle img{
    height: 300px;
}

.mainArticle h2{
    font-size:1.3rem;
    font-weight: bolder;
}

.mainArticle h3{
    display: inline-block;
    background: #74604b;
    /* background: #3e3e3e; */
    font-size: 1rem;
    position: relative;
    text-align: center;
    height: 2.2rem;
    width: 6rem;
}
.mainArticle h3 a{
    color: white;
    line-height: 39px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto;
    font-size: .8rem;
}
.mainArticle h3:hover {
    background: black;
}
.mainArticle h3 a:hover{
    transition: .5s;
    text-decoration: none;
    color: white !important;
}
.mainArticle hr{
    margin: 0.5rem 0px 1rem;
    color: #666666;
}
.relatedDiv{
    margin: 0px 100px;
    margin-top:2.5rem;
    margin-bottom: 3rem;
}


.relatedDiv p{
    margin-bottom:.5rem;
 
}
.relatedDiv h2{
    font-family: Ramaraja !important;
}
.relatedDiv p a{
    font-weight: bolder;
}
.relatedDiv p a:hover{
    
        text-decoration: underline;
        text-decoration: none;
        transition: .5s;
        color: #000000;
    }
.hrtitle{
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.copyright{
    margin-left: 100px;
    margin-top: 70px;
    font-family: Roboto;
    font-size: .6rem;
    color: #b7b7b7;
    font-weight: bolder;
}

.relatedDiv p a{
color:#74604b;
}

.titleBlock2{
        position: relative;
        display: inline-block;
        height: 1000px;
        width: 100%;

}

.title2{
    margin: 0px 100px;

}
.blogTitle2{
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 0;
    margin: 1rem 0;
    font-family: Roboto;
}

.title2 h1{
    line-height: 3.5rem;
}

.imageDesc2{
    font-size: .7rem;
    width: 100%;
  

    font-family: Roboto;
    margin-top: -1rem;
    font-weight: bolder;
    letter-spacing: .4px; 
}

.hrtitle2{
    margin-top: 0px;

}

/*----------------------*/
.mainArticle2{
    margin: 0px 100px; 
    font-size:.82rem;
    line-height:1.3rem;
}

.mainArticle2{
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
}
.mainArticle2 img{
    height: 600px;
}

.mainArticle2 h2{
    font-size:1.3rem;
    font-weight: bolder;
}

.mainArticle2 h3{
    display: inline-block;
    background: #74604b;
    /* background: #3e3e3e; */
    font-size: 1rem;
    position: relative;
    text-align: center;
    height: 2.2rem;
    width: 6rem;
}
.mainArticle2 h3 a{
    color: white;
    line-height: 39px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto;
    font-size: .8rem;
}
.mainArticle2 h3:hover {
    background: black;
}
.mainArticle2 h3 a:hover{
    transition: .5s;
    text-decoration: none;
    color: white !important;
}
.mainArticle2 hr{
    margin: 0.5rem 0px 1rem;
    color: #666666;
}
/*---------------*/
.relatedDiv2 h2{
text-align:left;
}
.subscribe{
    padding: 2rem 8rem;
    text-align: left;
    max-width: 800px;
    width: 800px;
    position: relative;
    display: inline-block;
    border: 2px solid #74604b;
}
.subscribeContainer{
    text-align:center;
}
.subscribe h2{
    text-align: center;
    color: brown;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: bolder;
}

.subscribe h3{
    text-align: center;
    font-size: 1rem;
    color: #686868;
    font-family: Roboto;
    margin-bottom: 1rem;
}
.subscribe span{
    font-size: .8rem;
    font-family: Roboto;
    letter-spacing: .1px;
    font-weight: bolder;
}

.subscribe span strong{
    font-family: Roboto;
    font-size: .7rem;
    letter-spacing: .5px;
    color: #6c6c6c;
}

.subscribe input{
    width: 100%;
    margin-bottom: 1rem;
}
.subscribe .buttonDiv{
    text-align:center;
}
.subscribe .buttonDiv button{
    background: #74604b;
    font-family: Roboto;
    text-transform: capitalize;
    font-size: .75rem;
    letter-spacing: .6px;
    border-radius: 0px;
    padding: 0.5rem 1rem;
}
.privacy p{
    line-height: 1rem;
    color: #898989;
    font-family: Roboto;
    font-size: .7rem;
    padding-right: 2rem;
    /* font-weight: 600; */
    text-align: left;
}