
/*------Index-------*/
.jumbotron{
    height:500px;
    max-height: 500px;
    overflow: hidden;
  }

  .jumboText{
    position: relative;
    background: #fff;
    width: 80%;
    margin: -40px auto 0;
    padding: 40px 40px 0;
    z-index: 10;
  }

  .jumboText h3{
    text-align: center;
    font-family: 'Amiri';
    font-size: 2.8rem;
  }

  .latestArticleBlock{
    /* position: relative; */
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    border-top: 1px solid #74604b6e;
  }
  .latestArticleBlock img{
    height: 120px;
  }
.latestArticleBlock h2{
    font-family: Amiri;
    font-size: 1.2rem;
}
.blockInfo{
    padding: 1rem;
}

.latest h2{
    font-size: .8rem;
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
}
.latest{
position:relative;
}

.jumboText h4{
    font-family: 'Lora';
    font-size: 1rem;
    width: 60%;
    margin: 10px auto;
}

.bigLatest{
  background-size:cover !important;
  position: relative;
  height: 500;
  height: 250px;
  color:white;
}

.bigLatest .blockInfo{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  display: block;
  }
.bigOverlay{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#00000052;
}
.bigLatest small{
  color:white;
}
.bigLatest h2{
  font-size: 2.2rem;
  margin-bottom: 0px;
}