
/*------Index-------*/
.jumbotron{
    height:500px;
    max-height: 500px;
    overflow: hidden;
  }

  .jumboText{
    position: relative;
    background: #fff;
    width: 80%;
    margin: -40px auto 0;
    padding: 40px 40px 0;
    z-index: 10;
  }

  .jumboText h3{
    text-align: center;
    font-family: 'Amiri';
    font-size: 2.8rem;
  }

  .latestArticleBlock{
    /* position: relative; */
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    border-top: 1px solid #74604b38;
  }
  .latestArticleBlock img{
    height: 140px;
    width: 200px;
  }
.latestArticleBlock h2{
  font-family: Roboto Flex;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0px;
}
.latestArticleBlock small{
font-size:.8rem;
font-family: 'Roboto Flex';
}
.blockInfo{
    padding: 1rem;
}

.latest h2{
  font-size: 1.8rem;
  font-family: Amiri;
  font-weight: 800;
  /* text-transform: uppercase;*/
    background-color: #ffffff;
    display: inline-block;
    padding: 0 16px 0 0;
    position: relative;


}
.latest{
position:relative;
}
.latest:before{
  border-top-color: #74604b6e;
  top: calc(50% - 6px);
  border-top: 4px solid #74604b6e;
  content: " ";
  height: 0;
  left: -16px;
  position: absolute;
  right: -16px;
  left: 0;
  right: 0;
  z-index: -1;
}

.jumboText h4{
    font-family: 'Lora';
    font-size: 1rem;
    width: 60%;
    margin: 10px auto;
}

.bigLatest{
  background-size:cover !important;
  position: relative;
  height: 500;
  height: 250px;
  color:white;
}

.bigLatest .blockInfo{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  display: block;
  }
.bigOverlay{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#00000052;
}
.bigLatest small{
  color:white;
}
.bigLatest h2{
  font-size: 2.2rem;
  margin-bottom: 0px;
}




.heroArticle{
  margin:0px;
  max-width:100%;
  height: 100vh;
  padding: 2rem 5rem;
  /* margin-bottom:5rem; */

}
.heroLeft{
position:relative;
overflow:hidden;
}
.heroLeft img{
    /* height: 100%; */
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.heroRight{
  display:flex;
}
.heroRightWrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  padding-top:0px;
}
.heroRightWrapper h3{
  font-size: 6rem;
  font-family: Amiri;
}
.heroRightWrapper h4{
  font-family: Laro;
  /* width: 80%; */
  max-width: 600px;
  margin-bottom: 4rem;
  margin-top: 2rem;
}


.heroRightWrapper button{
  color: #74604b;
  font-family: Amiri;
  border: 0px;
  border-radius: 0px;
  font-size: 1.2rem;
  background: none;
  border: 1px solid #74604b;
  padding: 0.7rem 2rem;
}
.heroRightWrapper button:hover{
  background-color: #74604b;
  border-color: #74604b;
}
.heroRightWrapper button:hover a{
  color:white;
}

.overflowhidden{
  overflow:hidden;
}
.heroRightWrapper h5{

  font-family: Lato;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.1rem;
}
.secondFeatureCards{
  border: 0px;
  border-radius: 0px;
  padding: 2rem 3rem;

}
.cardBody{
  /* padding-left: 0px; */
  text-align:center;
}
.cardTitle{
  
  font-size: 2rem;

  font-family: Amiri;
}
.cardBody p{
  font-size: .9rem;
  font-family: Roboto;
}
.secondFeatureWrapper{
  max-width: 100%;
  /* margin-bottom:5rem; */

  padding-bottom:5rem;



}
.lookbookWrapper{
  text-align: right;
  /* height: 500px; */
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem 2rem;
  background: #6a3232;
  color: white;
  margin-bottom: 7rem;
  background:url('/images/books.jpg');
  background-size: contain;
}
.lookbookName{
  padding: 2rem;
}
.lookbookName h2{
  font-size: 4rem;
  font-family: Amiri;
  text-transform: uppercase;
  z-index: 1;
    position: relative;
}
.cover{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: #341e1e8a;
}
.featureTitleWrap::before{
  top: calc(50% - 13px);
  border-top: 4px solid #3a352f6e;
  content: " ";
  height: 0;
  left: -16px;
  position: absolute;
  right: -16px;
  left: 0;
  right: 0;
  z-index: -1;
}
.categorySecond{
  font-family: Lato;
  font-size: .8rem;
  font-weight: 900;
  letter-spacing: 1px;
  color:#74604b9e;
}

.secondFeatureCards img{
  height: 600px;
  max-width: 100%;
}
.cardImage{
  border-radius:0px;
}
.mainButton{
  text-decoration:none;
  color: #74604b;
  transition:.2s;
}
.mainButton:hover{
  text-decoration:none;
  color:inherit;
}

.sponsorTitle h2{
  font-family: Roboto;
    text-transform: uppercase;
    font-size: 1rem;
}

.card{
  display: flex;
    flex-flow: row wrap;
    flex-direction: column;

    border:0px;
}
.cardBorder{
  border:0px;
}
.card img{
  height:220px;
}


.secondFeatureCards .cardImageFirst{
  border-radius:0px;
  height:800px;
  width:100%;
}

.secondFeatureCards .cardImageSecond{
  border-radius:0px;
  height:800px;
  width:100%;
}

.secondFeatureCardsTop{
  height:800px;
}

.secondFeatureCardsTop img{
  height:100%;
}
.secondFeatureCardsFirst{
  border:0px;
}
.secondFeatureCardsSecond{
border:0px;
}
.secondFeatureCardsThird{
  border:0px;
}
.secondFeatureCardsSecond .secondFeatureCardsTop{
  height:500px;
}
.secondFeatureCardsThird .secondFeatureCardsTop{
  height:300px;
}
.featureTitleWrap{
  position: relative;
}
.featureTitle{
  font-family: Ramaraja;
  margin: 1rem 0px 2rem;
  color: black;
  font-size: 2rem;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  padding: 0px 1rem 0px 0px;
}